In [4]:
hasBook = True
hasBoy =False 
goSchool= True
print((hasBook or hasBoy) and (goSchool))

True

In [6]:
a=True
print(not a)

False

In [7]:
a=10
c=10
b=20
print(a>b)
print(a<b)
print(a>=c)
print(a<=c)
print(a!=b)
print(a==b)

False
True
True
True
True
False

In [8]:
#assign
a=10
b=20
c=30
d=40
e=50
f=60
g=70
h=80

a+=b #a=a+b
print(a)
c-=d #c=c-d
print(c)
e*=f #e=e*f
print(e)
f/=g  #f=f/g
print(f)

30
-10
3000
0.8571428571428571

In [10]:
#simple if else condition

b=10
if((b%2)==0):
    print("Even number")
else:
    print("Not Even")

Even number

In [ ]:
#division display program
p=float(input("Enter you percentage:"))
if p>=80:
    print("Distinction")
elif p>=60:
    print("First divison")
elif p>=45:
    print("Second division")
elif p>=32:
    print("Third Division")
else:
    print("Fail")

In [ ]:
t=int(input("Enter the time:"))
if t>6 and t<12:
    print("Good Morning")
elif t>=12 and t<18:
    print("Good evening")
elif t>=18 and t<24:
    print("Good Night")
else:
    print("invlid time")

In [ ]:
#salary%%=
#350000> 1%
#350000 and < 400000 -> 13%
# 400000> -> 25%
'''if person earn->60000 per month. How much he have to pay annual tax? '''

In [ ]:
salary=float(input("Enter your Monthly Salary:Rs"))
salary*=12;


if salary<=350000:
    tax=(1/100)*salary
    print("Tax Amount:Rs "+str(tax))

elif salary>350000 and salary<=400000:
    tax1=(1/100)*350000
    salary-=350000
    tax2=(13/100)*salary
    print("Tax Amount:Rs "+str(tax1+tax2))

else:
    tax1=(1/100)*350000
    salary-=350000
    
    tax2=(13/100)*50000
    salary-=50000
    
    tax3=(25/100)*salary
    print("Tax Amount:Rs "+str(tax1+tax2+tax3))

In [1]:
#Electric Bill calculator------------------------------------------------------
unit=float(input("Enter the unit:"))
if unit<=20:
    charge=80
    print("Charge Amount "+str(charge1))

elif unit>20 and unit<=100:
    charge1=80
    unit-=20
    charge2=unit*8
    
    print("Charge Amount "+str(charge1+charge2))

else:
    charge1=80
    charge2=640
    unit-=100
    charge3=unit*4
   
    print("Charge Amount: "+str(charge1+charge2+charge3))

Enter the unit: 120

Charge Amount: 800.0

In [2]:
#for loop ------------------------------------------------
#syntax-----------------------------------------------------------------------
for i in range(5):             #in default start with index zero-----------------------------------
    print(i)

0
1
2
3
4

In [4]:
for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [9]:
for i in range(11,2,-2):
    print(i)
else:
    print("loop finished")

11
9
7
5
3
loop finished

In [ ]:
i=int(input("Starting:"))
n=int(input("Ending:"))

c=int(input("1.Odd\n2.Even"))

if c==2:  
    while(i<=n):
        if(i%2==0):
            print(str(i))
        i+=1
elif c==1:
    while(i<=n):
        if(i%2!=0):
            print(str(i))
        i+=1
else:
    print("Enter 1 or 2 only:::")

In [24]:
for i in range(0,50,4):
    if i==30:
        break;
    print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48

In [1]:
#Print number 1234 as 
#1   
#2   
#3
#4zz
n=int(input("Enter the number:"))
rev=0
while n>0:
    r=n%10
    rev=rev*10 +r
    n//=10

while rev>0:
    x=rev%10
    rev//=10
    print(x)

Enter the number: 1564

1
5
6
4

In [ ]:

#check whether any input number is prime or not

In [3]:
#check palindrome or not
n=int(input("Enter any number:"))
org=n
rev=0
while n>0:
    r=n%10
    rev=rev*10 +r
    n//=10
    
if rev==org:
    print("Number is palindrome")
else:
    print("Number is not Palindrome")

Enter any number: 1234

Number is not Palindrome

In [6]:
#check whether any input number is prime or not

n=int(input("Enter any number:"))
c=0
for i in range(1,n+1):
    
    if n%i==0:
        c+=1
        
if c==2:
    print("Number is prime")
else:
    print("Number is not prime")

Enter any number: 16

Number is not prime

In [6]:

x=int(input("Enter any number:"))
c=0
for i in range(1,x+1):
    for j in range(1,i+1):
    
        if i%j==0:
            c+=1
        
    if c==2:
        print(i)

Enter any number: 15

#

In [10]:
#If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.Find the sum of all the multiples of 3 or 5 below 1000.
#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
x=1000
sum=0
for i in range(1,1000):
    if i%3==0 or i%5==0:
        sum+=i
print(sum)

233168

In [9]:
'''Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.'''

#-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
sum=0
first=0
second=1
next=1
while(next<4000000):
    first=second
    second=next
    next=first+second
    if next%2==0:
        sum+=next
        
print(sum)

4613732

In [4]:
'''The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?'''

#divide by half--------------------
x=600851475143

n=-1
i=3
while x%2==0:
    x//=2
    n=2

while x!=1:
    while x%i==0:
        n=i
        x/=i
    i+=2

print(n)

6857

In [ ]:
'''A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.'''
rev=0
r=0
x=0
for i in range(100,999):
    for j in range(100,999):
        n=i*j
        org=n
        while n>0:
            r=n%10
            rev=rev*10 +r
            n//=10
    
        if rev==org:
            if x>org:
                x=org
print(x)

In [33]:
'''2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?'''
x=10000000000
for i in range(1000000000,1,-1):
    if i%11==0 and i%12==0 and i%13==0 and i%14==0 and i%15==0 and i%16==0 and i%17==0 and i%18==0 and i%19==0 and i%20==0:
        if x>i:
            x=i
print(x)

232792560

In [3]:
name=[]
name=['hari','shyam']
x=str(input("Enter the name:"))
name.append(x)
print(name)

Enter the name: ysh

['hari', 'shyam', 'ysh']

In [5]:
'''num=[2,5,8,7,6,3,4] 
1.Find smallest number.
2.Sort in ascending order.
3.Do cyclic rotation for n times take n as input.'''
num=[2,5,8,7,6,3,4]
num2=num
choose = int(input("1.Find smallest number.\n2.Sort in ascending order.\n3.Do cyclic rotation for n times take n as input."))
print(num2)
min=num[0]
if choose==1:
    for i in range(len(num)):
        if num[i]<min:
            min=num[i]
    print(min)
if choose==2:
    num.sort()
    print(num)
if choose==3:
    n=int(input("Enter the shifting value:"))
   # num = num[n:] + num[:n]
   # print(num)
    for j in range(n):
        num2[0]=num[len(num)-1]
        
        for i in range(0,len(num)-1,1):
            num2[i+1]=num[i]
   
    print(num2)

1.Find smallest number.
2.Sort in ascending order.
3.Do cyclic rotation for n times take n as input. 3

[2, 5, 8, 7, 6, 3, 4]

Enter the shifting value: 2

[4, 4, 4, 4, 4, 4, 4]

In [36]:
'''The sum of the squares of the first ten natural numbers is,

12 + 22 + ... + 102 = 385
The square of the sum of the first ten natural numbers is,

(1 + 2 + ... + 10)2 = 552 = 3025
Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.'''

#===================================================================================================================================================
sum1=0
sum2=0
for i in range(1,101):
    sum1+=i
    sum2+=(i*i)
sum1=sum1*sum1
print(sum1-sum2)

25164150

In [1]:
'''By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the 10 001st prime number?'''
#============================================================================================================

count=1
c=0
for i in range(3,15,2):
    for j in range(1,i):
    
        if i%j==0:
            c+=1
        
    if c==2:
        if count==6:
            print(i)
        count+=1

In [7]:
'''lab6 tuple----------------------------'''
#============================================================================================
#deceleration of tuple
a=('x','y')
b=(1,2,3)
c=a+b
print(c)
#-----------------------------------------------------------------------------------------------
d=('ashesh','alaka','wachas')
z=(a,b,c)
print(z)

('x', 'y', 1, 2, 3)
(('x', 'y'), (1, 2, 3), ('x', 'y', 1, 2, 3))

In [14]:
'''Set----------------------------------------------------------------------it doesnt have index like'''

'''
[]->list
()-> tuples
{}-> sets
'''
#-----------------------------------------------------------------------------
x={'a','b','c'}
#print(x[0])=========>gives error
n=int(input("Enter the index:"))
if n<=len(x):
    for i in k:
        print(x)

Enter the index: 2

TypeError: 'int' object is not iterable

In [ ]:
'''
num=[5,8,9,7,3,4]
1.Find the sum of prime numbers in list.
2.Convert the num to set and tuples.
'''

    
        

sum=0    
num = [5,8,9,7,3,4]

temp1=()
temp2={}

choose=int(input("1.Find the sum of prime numbers in list.\n2.Convert the num to set.\n3.Convert the num to tuples\n:=>"))
if choose==1:
    for i in range(len(num)):
        c=0
        for j in range(1,num[i]+1):
            if (num[i])%j==0:
                c+=1
            
        if c==2:
            sum+=num[i]
        
    print("Sum:=>"+str(sum))
if choose==2:
    print(tuple(num))
if choose==3:
    print(set(num))

In [ ]:
# '''
programme to calculate the bill of the restaurant
'''
# These are two dictionaries that hold the information about the menu
menuMap = {'1':'momo', '2':'chowmein', '3':'tea'}
menu = {'momo':100, 'chowmein':150, 'tea':50}

def printMenu():
    '''
    Thiw will display the menu in the top to allow the user not to mistake duing the menu entry
    '''
    first = True
    i = 0
    for menuItem in menu.keys():
        i+=1
        if not first:
            print(",", end='')

        print("{id}. menuItem ".format(id=i), end='')
        first = False



def addOrder():
    order=[]
	cont = True
	while cont:
		order.append(input("Costumer order"))
		check = input("\nDo you want to continue ? (y/n): ")
		cont = (check == 'y')
		pass
	return order

def caluclateTotal(myOrders):
	print("\n\n\t\tCash Bill\n")
	totalBilled = 0
	for mOrder in myOrders:
		print(menuMap[mOrder]+"\t\tRs." +str(menu[menuMap[mOrder]]))
		totalBilled += menu[menuMap[mOrder]]

	print("\n------------------------------------------------")
	print("Your total bill amount = Rs.{}".format(totalBilled))
	vat = totalBilled*0.13
	serviceCharge = (totalBilled+vat)*0.25
	print("\t\tVAT(13%) = Rs."+str(vat))
	print("\t\tService charge(25%) = Rs." + str(serviceCharge))

	print("\t\tTotal = Rs."+ str(totalBilled+vat+serviceCharge)+ "\n\n")


print("\t\tBroadWay restaurant\t\t")
print("\n.............................................")
printMenu()
input("\n\nPress any key to continue.")
order = addOrder()		
caluclateTotal(order)